# Census variable availability

use beautifulsoup (and maybe other tools) to create a reference table of census variables to easily determine availability at the different census layers (tracts, blocks, etc)
    
<b>just use pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_html("https://api.census.gov/data/2019/acs/acs5/variables.html")

In [3]:
len(df)
# all of the data is stored in a 1 item list

1

In [4]:
data = df[0].iloc[:, :-1] #skip the last row of blank stuff

In [5]:
data
# hours trying to wrangle bs4 and pandas can just read_html qq

,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group
0,AIANHH,Geography,NaN,not required,NaN,0,(not a predicate),NaN
1,AIHHTL,Geography,NaN,not required,NaN,0,(not a predicate),NaN
2,AIRES,Geography,NaN,not required,NaN,0,(not a predicate),NaN
3,ANRC,Geography,NaN,not required,NaN,0,(not a predicate),NaN
4,B01001_001E,Estimate!!Total:,SEX BY AGE,not required,"B01001_001EA, B01001_001M, B01001_001MA",0,int,B01001
...,...,...,...,...,...,...,...,...
27076,TRIBALSUB,Geography,NaN,not required,NaN,0,(not a predicate),NaN
27077,UA,Geography,NaN,not required,NaN,0,(not a predicate),NaN
27078,ucgid,Uniform Census Geography Identifier clause,Census API Geography Specification,predicate-only,NaN,0,ucgid,NaN
27079,ZCTA,Geography,NaN,not required,NaN,0,(not a predicate),NaN
27080,27080 variables,27080 variables,27080 variables,27080 variables,27080 variables,27080 variables,27080 variables,27080 variables

`Name` is the universal variable name. We can also organize availability at a glance using the `group` variable?

In [6]:
len(data.Group.unique())

1139

eh, maybe

In [7]:
geos = pd.read_csv("geo_restricts.csv")

In [8]:
geos

,Table Number,Table Title,Geography Restrictions,Summary File Sequence Number,Summary File Starting and Ending Positions,Topics,Universe
0,B01001,Sex By Age,NaN,1,7-55,Age and Sex,Total population
1,B01001A,Sex By Age (White Alone),No Blockgroups,1,56-86,"Age and Sex, Race and Ethnicity, White",People who are White alone
2,B01001B,Sex By Age (Black Or African American Alone),No Blockgroups,1,87-117,"Age and Sex, Black or African American, Race a...",Black or African American alone
3,B01001C,Sex By Age (American Indian And Alaska Native ...,No Blockgroups,1,118-148,"Age and Sex, American Indian and Alaska Native...",People who are American Indian and Alaska Nati...
4,B01001D,Sex By Age (Asian Alone),No Blockgroups,1,149-179,"Age and Sex, Asian, Race and Ethnicity",People who are Asian alone
...,...,...,...,...,...,...,...
1150,C27014,Public Health Insurance By Work Experience,No Blockgroups,133,148-157,"Age and Sex, Civilian Population, Health Insur...",Civilian noninstitutionalized population 19 to...
1151,C27016,Health Insurance Coverage Status By Ratio Of I...,No Blockgroups,133,158-208,"Age and Sex, Civilian Population, Earnings Ind...",Civilian noninstitutionalized population for w...
1152,C27017,Private Health Insurance By Ratio Of Income To...,No Blockgroups,134,97-147,"Age and Sex, Civilian Population, Earnings Ind...",Civilian noninstitutionalized population for w...
1153,C27018,Public Health Insurance By Ratio Of Income To ...,No Blockgroups,134,148-198,"Age and Sex, Civilian Population, Earnings Ind...",Civilian noninstitutionalized population for w...
1154,C27021,Health Insurance Coverage Status By Living Ar...,No Blockgroups,134,199-213,"Civilian Population, Health Insurance, Physica...",Civilian noninstitutionalized population

In [9]:
len(geos)

1155

In [10]:
restricts = geos[['Table Number', 'Geography Restrictions']].copy()

In [11]:
restricts

     Table Number Geography Restrictions
0          B01001                    NaN
1         B01001A         No Blockgroups
2         B01001B         No Blockgroups
3         B01001C         No Blockgroups
4         B01001D         No Blockgroups
...           ...                    ...
1150       C27014         No Blockgroups
1151       C27016         No Blockgroups
1152       C27017         No Blockgroups
1153       C27018         No Blockgroups
1154       C27021         No Blockgroups

[1155 rows x 2 columns]

In [12]:
s1 = set(data['Group'])
s2 = set(restricts['Table Number'])

In [13]:
len(s1.intersection(s2))

1136

In [14]:
len(s2.intersection(s1))

1136

In [39]:
merge = restricts.merge(data, how='right', left_on='Table Number', right_on='Group')

In [43]:
merge

,Table Number,Geography Restrictions,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group
0,NaN,NaN,AIANHH,Geography,NaN,not required,NaN,0,(not a predicate),NaN
1,NaN,NaN,AIHHTL,Geography,NaN,not required,NaN,0,(not a predicate),NaN
2,NaN,NaN,AIRES,Geography,NaN,not required,NaN,0,(not a predicate),NaN
3,NaN,NaN,ANRC,Geography,NaN,not required,NaN,0,(not a predicate),NaN
4,NaN,NaN,BG,Geography,NaN,not required,NaN,0,(not a predicate),NaN
...,...,...,...,...,...,...,...,...,...,...
37517,C27021,No Blockgroups,C27021_013E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,not required,"C27021_013EA, C27021_013M, C27021_013MA",0,int,C27021
37518,C27021,No Blockgroups,C27021_014E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,not required,"C27021_014EA, C27021_014M, C27021_014MA",0,int,C27021
37519,C27021,No Blockgroups,C27021_015E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,not required,"C27021_015EA, C27021_015M, C27021_015MA",0,int,C27021
37520,NaN,NaN,GEO_ID,Geography,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 I...,not required,NAME,0,string,"B17015, B18104, B17016, B18105, B17017, B..."
37521,NaN,NaN,27080 variables,27080 variables,27080 variables,27080 variables,27080 variables,27080 variables,27080 variables,27080 variables

In [41]:
merge.loc[merge['Geography Restrictions'].notnull()]

,Table Number,Geography Restrictions,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group
89,B01001A,No Blockgroups,B01001A_001E,Estimate!!Total:,SEX BY AGE (WHITE ALONE),not required,"B01001A_001EA, B01001A_001M, B01001A_001MA",0,int,B01001A
90,B01001A,No Blockgroups,B01001A_002E,Estimate!!Total:!!Male:,SEX BY AGE (WHITE ALONE),not required,"B01001A_002EA, B01001A_002M, B01001A_002MA",0,int,B01001A
91,B01001A,No Blockgroups,B01001A_003E,Estimate!!Total:!!Male:!!Under 5 years,SEX BY AGE (WHITE ALONE),not required,"B01001A_003EA, B01001A_003M, B01001A_003MA",0,int,B01001A
92,B01001A,No Blockgroups,B01001A_004E,Estimate!!Total:!!Male:!!5 to 9 years,SEX BY AGE (WHITE ALONE),not required,"B01001A_004EA, B01001A_004M, B01001A_004MA",0,int,B01001A
93,B01001A,No Blockgroups,B01001A_005E,Estimate!!Total:!!Male:!!10 to 14 years,SEX BY AGE (WHITE ALONE),not required,"B01001A_005EA, B01001A_005M, B01001A_005MA",0,int,B01001A
...,...,...,...,...,...,...,...,...,...,...
37515,C27021,No Blockgroups,C27021_011E,Estimate!!Total:!!In family households:!!In ot...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,not required,"C27021_011EA, C27021_011M, C27021_011MA",0,int,C27021
37516,C27021,No Blockgroups,C27021_012E,Estimate!!Total:!!In family households:!!In ot...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,not required,"C27021_012EA, C27021_012M, C27021_012MA",0,int,C27021
37517,C27021,No Blockgroups,C27021_013E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,not required,"C27021_013EA, C27021_013M, C27021_013MA",0,int,C27021
37518,C27021,No Blockgroups,C27021_014E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,not required,"C27021_014EA, C27021_014M, C27021_014MA",0,int,C27021
37519,C27021,No Blockgroups,C27021_015E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,not required,"C27021_015EA, C27021_015M, C27021_015MA",0,int,C27021

In [42]:
len(merge.loc[merge['Geography Restrictions'].notnull()])

32626

# beautifulsoup example (incomplete)

In [17]:
from bs4 import BeautifulSoup

import requests
page = requests.get("https://api.census.gov/data/2019/acs/acs5/variables.html")
page

In [18]:
soup = BeautifulSoup(page.content, 'html.parser')

In [19]:
soup.tr

<tr>
<th>Name</th><th>Label</th><th>Concept</th><th>Required</th><th>Attributes</th><th>Limit</th><th>Predicate Type</th><th>Group</th>
</tr>

In [20]:
table = soup.find_all('tbody')

<tbody>
<tr>
<td><a href="variables/AIANHH.json" name="AIANHH">AIANHH</a></td><td>Geography</td><td></td><td>not required</td><td><a href="/data/2019/acs/acs5/variables/.html"></a></td><td>0</td><td><span class="na">(not a predicate)</span></td><td>
						N/A
					</td>
</tr>
<tr>
<td><a href="variables/AIHHTL.json" name="AIHHTL">AIHHTL</a></td><td>Geography</td><td></td><td>not required</td><td><a href="/data/2019/acs/acs5/variables/.html"></a></td><td>0</td><td><span class="na">(not a predicate)</span></td><td>
						N/A
					</td>

| Syntax  | Description |
| --------| ----------- |
| 'tbody' | table       |
| 'tr'    | 1 item      |
| 'td'    | 1 element of item|

In [21]:
tag = soup.find_all('tr')

In [22]:
element = soup.findAll('td')